<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./home.css">
   <link rel="stylesheet" href="./home__responsive.css">
   <title>Document</title>
</head>
<body>
   <header class="header">
      <div class="header__top">
         <div class="container">
            <div class="header__top__wrapper">
               <div class="header__hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
               <div class="header__top__left">
                  <div class="header__top__logo">
                     <a href="">
                        <img src="../../assets/icons/header/header__top/l3 1.png" alt="">
                     </a>
                  </div>
                  <div class="header__top__search">
                     <input placeholder="Найти игру" type="text">
                     <img src="../../assets/icons/header/header__top/akar-icons_search.png" alt="" class="header__top__search__icon">
                  </div>
               </div>
               <div class="header__top__right">
                  <div class="header__top__num">
                     <img src="../../assets/icons/header/header__top/icomoon-free_phone.png" alt="">
                     <a href="">+7 (495) 911-10-11</a>
                  </div>
                  <div class="header__top__user">
                     <a href="" class="header__top__user__account">
                        <img src="../../assets/icons/header/header__top/Vector.png" alt="">
                     </a>
                     <a href="" class="header__top__user__cart">
                        <img src="../../assets/icons/header/header__top/Group (1).png" alt="">
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
   <script src="../assets/scripts/script.js"></script>
</body>
</html>