@import '../../assets/styles/main.css';
.header__hamburger {
   width: 18px;
   height: 15.75px;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   cursor: pointer;
}
.header__hamburger span {
   display: block;
   height: 2.25px;
   background-color: var(--color1);
   width: 100%;
}
.search__bottom {
   display: block !important;
   width: 100% !important;
   margin-top: 9px;
}
.search__bottom__container {
   display: none;
}
@media(max-width: 1190px) {
   .header__top__search {
      width: 350px;
   }
   .navbar__links>ul {
      column-gap: 30px
   }
   .navbar__links {
      column-gap: 46px
   }

}

@media(max-width: 991px) {
   .header__top__search {
      display: none;
   }
   .header__hamburger {
      display: flex;
      height: 20px;
      width: 25px;
   }
   .navbar {
      display: none;
   }
   .search__bottom__container {
      display: block;
   }
}


@media(max-width: 600px) {
   .header__top__num {
      display: none;
   }
   .header__top__logo {
      width: 121px;
      height: 28px;
   }
   .header__top__num img, .header__top__user img {
      width: 20px;
      height: 19.17px;
      object-fit: fill;
   }
   .header__slide {
      width: 384px;
      height: 217px;
   }
   .header__slide__box {
      flex-direction: column;
      align-items: flex-start;
   }
   .header__slide__box__desc__title {
      margin-bottom: 9.05px;
   }
 
   .header__slide__box__desc__name {
      margin-bottom: 17.45px;
   }
}
@media(max-width: 350px) {
   .header__slide__box {
      left: 20px;
   }
}

@media(max-width: 300px) {
   .header__slide__box__desc__title {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 9.05px;
   }
 
   .header__slide__box__desc__name {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 17.45px;
   }
}