<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
   <link rel="stylesheet" href="./home.css">
   <link rel="stylesheet" href="./home__responsive.css">
   <title>Document</title>
</head>
<body>
   <header class="header">
      <div class="header__top">
         <div class="container">
            <div class="header__top__wrapper">
               <div class="header__hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
               <div class="header__top__left">
                  <div class="header__top__logo">
                     <a href="">
                        <img src="../../assets/icons/header/header__top/l3 1.png" alt="">
                     </a>
                  </div>
                  <div class="header__top__search">
                     <input placeholder="Найти игру" type="text">
                     <img src="../../assets/icons/header/header__top/akar-icons_search.png" alt="" class="header__top__search__icon">
                  </div>
               </div>
               <div class="header__top__right">
                  <div class="header__top__num">
                     <img src="../../assets/icons/header/header__top/icomoon-free_phone.png" alt="">
                     <a href="">+7 (495) 911-10-11</a>
                  </div>
                  <div class="header__top__user">
                     <a href="" class="header__top__user__account">
                        <img src="../../assets/icons/header/header__top/Vector.png" alt="">
                     </a>
                     <a href="" class="header__top__user__cart">
                        <img src="../../assets/icons/header/header__top/Group (1).png" alt="">
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <nav class="navbar">
         <div class="container">
            <div class="navbar__wrapper">
               <div class="navbar__links">
                  <div class="navbar__links__hamburger">
                     <div class="navbar__links__hamburger__btn">
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                     <a>Каталог</a>
                  </div>
                  <ul>
                     <li><a href="">Wharhammer</a></li>
                     <li><a href="">Magic:the Cathering</a></li>
                     <li><a href="">Мероприятия</a></li>
                     <li><a href="">О центре</a></li>
                     <li><a href="">Контакты</a></li>
                  </ul>
               </div>
               <div class="navbar__social">
                  <ul>
                     <li><a href=""><img src="../../assets/icons/header/navigation/bi_instagram.png" alt=""></a></li>
                     <li><a href=""><img src="../../assets/icons/header/navigation/vk.png" alt=""></a></li>
                     <li><a href=""><img src="../../assets/icons/header/navigation/fb.png" alt=""></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </nav>
      <div class="container search__bottom__container">
         <div class="header__top__search search__bottom">
            <input placeholder="Найти игру" type="text">
            <img src="../../assets/icons/header/header__top/akar-icons_search.png" alt="" class="header__top__search__icon">
         </div>
      </div>
      <div class="header__carusel">
         <div class="header__slide">
            <img src="../../assets/images/header/header__carusel/image.png" alt="">
            <div class="header__slide__box">
               <div class="header__slide__box__desc">
                  <div class="header__slide__box__desc__title">
                     Самая популярная карточная игра
                  </div>
                  <div class="header__slide__box__desc__name">
                     Magic: the Gathering
                  </div>
               </div>
               <a href="" class="header__slide__box__button">Подробнее</a>
            </div>
         </div>
         <div class="header__slide">
            <img src="../../assets/images/header/header__carusel/Rectangle 13.png" alt="">
            <div class="header__slide__box">
               <div class="header__slide__box__desc">
                  <div class="header__slide__box__desc__title">
                     Самая популярная карточная игра
                  </div>
                  <div class="header__slide__box__desc__name">
                     Magic: the Gathering
                  </div>
               </div>
               <a href="" class="header__slide__box__button">Подробнее</a>
            </div>
         </div>
         <div class="header__slide">
            <img src="../../assets/images/header/header__carusel/Rectangle 13.png" alt="">
            <div class="header__slide__box">
               <div class="header__slide__box__desc">
                  <div class="header__slide__box__desc__title">
                     Самая популярная карточная игра
                  </div>
                  <div class="header__slide__box__desc__name">
                     Magic: the Gathering
                  </div>
               </div>
               <a href="" class="header__slide__box__button">Подробнее</a>
            </div>
         </div>
         <div class="header__slide">
            <img src="../../assets/images/header/header__carusel/Rectangle 13.png" alt="">
            <div class="header__slide__box">
               <div class="header__slide__box__desc">
                  <div class="header__slide__box__desc__title">
                     Самая популярная карточная игра
                  </div>
                  <div class="header__slide__box__desc__name">
                     Magic: the Gathering
                  </div>
               </div>
               <a href="" class="header__slide__box__button">Подробнее</a>
            </div>
         </div>
      </div>
   </header>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
   <script src="../../assets/scripts/script.js"></script>
</body>
</html>