@import '../../assets/styles/main.css';
/* header__top */
.header__top {
   background-color: var(--color2);
   padding: 24px 0;
}
.header__top__logo {
   width: 157px;
   height: 37px;
}
.header__top__logo>a {
   width: 100%;
   height: 100%;
}
.header__top__logo>a>img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}
.header__top__wrapper, .header__top__left, .header__top__right {
   display: flex;
   align-items: center;
}
.header__top__wrapper {
   justify-content: space-between;
}
.header__top__left {
   column-gap: 33px;
}
.header__top__right {
   column-gap: 63px
}

.header__top__search {
   width: 475px;
   height: 38px;  
   position: relative;
   border: 1px solid #F2F2F2;
   border-radius: 9px;
   overflow: hidden;
}
.header__top__search input {
   display: block;
   width: 100%;
   height: 100%;
   border: none;
   padding-left: 12px;
   outline: none;
}
.header__top__search input:focus {
   border: none
}
.header__top__search img {
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
}

.header__top__num {
   display: flex;
   align-items: center;
   column-gap: 9.75px
}

.header__top__user {
   display: flex;
   align-items: center;
   column-gap: 14px
}
.header__top__num>a {
   font-family: var(--main-font-family1);
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   color: var(--color1);
}

.header__top__num img, .header__top__user img {
   width: 30px;
   height: 28.3px;
   object-fit: fill;
}



/* navbar */

.navbar__wrapper, .navbar__links, .navbar__links>ul,  .navbar__social>ul {
   display: flex;
   align-items: center
}
.navbar__wrapper {
   justify-content: space-between;
   padding: 16px 0;
}
.navbar__links {
   column-gap: 86px
}
.navbar__links>ul {
   column-gap: 69px
}
.navbar__social>ul {
   column-gap: 10.89px
}
.navbar__links a {
   font-family: var(--main-font-family1);
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   color: var(--color2)
}
.navbar__links__hamburger {
   display: flex;
   align-items: center;
   column-gap: 14px
}
.navbar__links__hamburger__btn {
   width: 16px;
   height: 14px;
   display: flex;
   flex-direction: column;
   row-gap: 4.25px;
   cursor: pointer;
}
.navbar__links__hamburger__btn span {
   display: block;
   height: 2.25px;
   background-color: var(--color2);
   width: 100%;
}


/* header__carusel */

.header__slide {
   height: 390px;
   width: 967px;

}
.header__carusel .slick-slide {
   position: relative;
}
.header__slide>img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.header__slide__box {
   display: flex;
   align-items: center;
   position: absolute;
   bottom: 33.91px;
   left: 35.31px;
   justify-content: space-between;
   width: 93%;
}

.header__slide__box__desc__title {
   font-family: var(--main-font-family1);
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: var(--color1)
}

.header__slide__box__desc__name {
   font-family: var(--main-font-family1);
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 33px;
   color: var(--color1)
}

.header__slide__box__button {
   background: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
   border-radius: 9px;
   width: 136.24px;
   height: 31.79px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: var(--main-font-family1);
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   color: var(--color1);
}


/* catalog */

.catalog {
   padding-top: 45px;
   padding-bottom: 85px;
}


.catalog__wrapper {
   display: flex;
   margin-top: 22px;
   column-gap: 20px
}
.catalog__wrapper__left .catalog__item__link {
   height: 100%;
}
.catalog__item__link {
   height: 167.44px;
   position: relative;
   border-radius: 10px;
   overflow: hidden;
   display: block;
}
.catalog__item__link img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}
.catalog__item__link__title {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 46px;
   background: var(--color2);
   color: var(--color1);
   display: flex;
   align-items: center;
   padding-left: 19px;
}
.catalog__wrapper__left, .catalog__wrapper__right {
   flex: 1;
   height: 369px;
}
.catalog__wrapper__left {
   height: 360px;
   border-radius: 10px;
   overflow: hidden;

}
.catalog__wrapper__right {
   display: grid;
   row-gap: 13px;
   column-gap: 13px;
   grid-template-columns: repeat(2, 1fr);
}


/* try */ 

.try__carusel {
   margin-top: 21px;
}
.try__carusel {
   margin: 0 -15px;
   margin-top: 21px;

}
.try__carusel .slick-slide {
   box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
   border-radius: 9px;
   margin: 0 15px;
   padding-top: 26px;

}

.try__carusel__item {
   height: 409px;
   position: relative;
}
.try__carusel__item__footer {
   position: absolute;
   width: 100%;
   left: 50%;
   transform: translateX(-50%);
   bottom: 25px;
}
.try__carusel__item__img {
   width: max-content;
   margin: 0 auto;
   height: 168px;
}
.try__carusel__item__img img {
   height: 100%;
   object-fit: fill;
}
.try__carusel__item__info, .try__carusel__item__info__column {
   display: flex;
   align-items: center;
}
.try__carusel__item__info {
   column-gap: 23px;
   width: max-content;
   margin: 0 auto;

}
.try__carusel__item__info__column {
   column-gap: 6px
}

.try__carusel__item__info__column__txt {
   font-family: var(--main-font-family1);
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 13px;
   color: var(--color2)
}

.try__carusel__item__title {
   font-family: var(--main-font-family1);
   color: var(--color2);
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 128.68%;
   max-width: 155px;
   margin: 0 auto;
   text-align: center;
   margin-top: 10px;
}

.try__carusel__item__price {
   font-style: normal;
   font-weight: 700;
   font-size: 21px;
   line-height: 24px;
   font-family: var(--main-font-family1);
   color: var(--color2);
   text-align: center;
}

.add__cart {
   max-width: 163px;
   background: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
   border-radius: 9px;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   font-family: var(--main-font-family1);
   color: var(--color1);
   display: flex;
   align-items: center;
   height: 34px;
   padding-left: 29px;
   column-gap: 8.65px;
   margin: 0 auto;
}

.try__carusel__item__btns {
   margin-top: 11px;
}
.try__carusel {
   position: relative;
}
.butOneClick {
   max-width: 163px;
   border-radius: 9px;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   font-family: var(--main-font-family1);
   color: var(--color4);
   border: 1px solid var(--color4);
   display: flex;
   align-items: center;
   height: 34px;
   padding-left: 29px;
   column-gap: 8.65px;
   margin: 0 auto;
   margin-top: 10px;
}
.try .container {
   position: relative;
}
.try .try__carusel__left {
   position: absolute;
   top: 50%;
   left: -48px;
   cursor: pointer;
}

.try .try__carusel__right {
   position: absolute;
   top: 50%;
   right: -48px;

   cursor: pointer;
}

.special__try {
   margin-top: 85px;
}